@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.background {
    background-color: #EFEFEF;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
    text-align: center;

    padding-bottom: 50px;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch {
    width: 377.26px;
    height: 452.35px;
    background-color: #141414;

    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 17px #DCDCDC solid;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);

}

.strap-1 {
    width: 217px;
    height: 130px;
    background-color: black;

    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.screen {
    width: 341.07px;
    height: 408.93px;
    background-color: black;

    border-radius: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.strap-2 {
    width: 217px;
    height: 130px;
    background-color: black;

    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.fingerprint {
    opacity: 30%;
    transition: all 0.15s linear;
    cursor: pointer;

    position: absolute;
}

.fingerprint:hover {
    opacity: 100%;
}

.fingerprint:active {
    transform:translateY(4px);
}

#reset {
    width: 26px;
    height: 26px;

    background-color: transparent;

    border-radius: 100px;    
    border-style: solid;
    border-color: #484848;
    border-width: 3px;
 
    cursor: pointer;

    position: absolute;
    translate: 0px 180px;
}

.date {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 25px;

    width: 130px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    translate: 90px -150px;
}

.time {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 120px;
    text-align: center;
    }

#hours {
    margin: 0px;
    padding-top: 80px;
}

#minutes {
    margin: 0px;
    padding-bottom: 80px;
}